h1{
    color: black;
    padding: 20px;
}

p{
    padding-left: 20px;
    padding-right: 20px;
}

img{
    padding: 20px;
}

nav{
    padding: 20px;
}

h2{
    padding-left: 20px;
    padding-right: 20px;
}